<div class="flex h-screen">
  <sidenav></sidenav>
  <div class="p-5 w-full">
    <div class="text-cyan-900 text-4xl font-semibold my-8">
      Manage Adoption Requests
    </div> 
    <div class="overflow-x-auto relative rounded-t-lg border shadow-md">
      <table class="w-full text-sm text-left text-gray-50">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 w-full">
          <tr>
            <th scope="col" class="py-3 px-6">Name</th>
            <th scope="col" class="py-3 px-6">Applying for:</th>
            <th scope="col" class="py-3 px-6">Reason:</th>
            <th scope="col" class="py-3 px-6">Status</th>
            <th scope="col" class="py-3 px-3"></th>
          </tr>
        </thead>
        <tbody *ngFor="let adoptee of adopters.slice(1)">
          <tr class="bg-white border-b">
            <td
              scope="row"
              class="flex items-center py-4 px-3 text-gray-900 whitespace-nowrap"
            >
              <div class="pl-3">
                <div class="text-base font-semibold">
                  {{ adoptee.adopter_name }}
                </div>
                <div class="font-normal text-gray-500">
                  {{ adoptee.adopter_email || adoptee.adopter_contact }}
                </div>
                <div class="font-normal text-gray-500">
                  {{ adoptee.adopter_contact }}
                </div>
                <div class="font-normal text-gray-500">
                  {{ adoptee.adopter_address }}
                </div>
              </div>
            </td>
            <td class="py-4 px-6">
              <div class="flex items-center">
                <div *ngIf="adoptee.dog_img; then hasImage; else noImage"></div>
                <ng-template #hasImage>
                  <img
                    src="{{ adoptee.dog_img }}"
                    alt="A photo of {{ adoptee.dog_name }}"
                    class="rounded-t-lg overflow-clip w-10 h-10"
                  />
                </ng-template>
                <ng-template #noImage>
                  <mat-icon [inline]="true" class="text-black">image</mat-icon>
                </ng-template>
                <div class="block ml-3">
                  <div class="text-base font-semibold text-black">
                    {{ adoptee.dog_name }}
                  </div>
                  <div class="font-normal text-gray-500">
                    {{ adoptee.dog_age }} YEAR/S OLD
                  </div>
                </div>
              </div>
            </td>
            <td class="py-4 px-6">
              <div class="flex items-center">
                <div class="text-base font-semibold text-black">
                  {{ adoptee.adopter_reason }}
                </div>
              </div>
            </td>
            <td class="py-4 px-6">
              <div class="flex items-center">
                <ng-container
                  *ngIf="adoptee.status == 'accepted'; else pending"
                >
                  <div class="text-green-500 font-semibold">Accepted</div>
                </ng-container>
                <ng-template #pending>
                  <ng-container
                    *ngIf="adoptee.status == 'pending'; else unknown"
                  >
                    <div class="text-yellow-500 font-semibold">Pending</div>
                  </ng-container>
                  <ng-template #unknown>
                    <div class="text-red-500 font-semibold">Unknown</div>
                  </ng-template>
                </ng-template>
              </div>
            </td>
            <td class="py-4 px-3 text-center">
              <ng-container *ngIf="adoptee.status == 'pending'; else unknown"
                ><a
                  class="font-medium text-white bg-green-700 hover:bg-green-800 px-4 py-2 rounded-lg cursor-pointer mr-4"
                  (click)="acceptAdoption(adoptee.adoption_id)"
                  >Accept</a
                ><a
                  class="font-medium text-white bg-red-700 hover:bg-red-800 px-4 py-2 rounded-lg cursor-pointer"
                  (click)="rejectAdoption(adoptee.adoption_id)"
                  >Reject</a
                ></ng-container
              >
              <ng-template #unknown
                ><a
                  class="font-medium text-white bg-red-700 hover:bg-red-800 px-4 py-2 rounded-lg cursor-pointer"
                  (click)="deleteAdoption(adoptee.adoption_id)"
                  >Delete</a
                ></ng-template
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
