<body>
  <mat-toolbar class="navbar">
    <div>Pet Adoption</div>
      <div class="spananchor">
        <span><a routerLink="/homepage">Home</a></span>
        <span><a routerLink="/adoptionpage">Adopt Here</a></span>
        <span><a routerLink="/adoptionform">Adoption Form</a></span>
        <span><a routerLink="/aboutus">About Us</a></span>
      </div>
  </mat-toolbar>
<section class="dogs">
  <h1> Adopt a dog</h1>
  <div class="row">
    <!--  <section class="row" id="row">
  
    div class *ngFor let gd of getDogs
    img src = {{gd.images}}
    h3 = {{gd.name}}
    <p> {{gd.info}}
    <p> {{gd.age}}
-->
    <div class="dogs-col">

      <!--THIS WAS SUPPOSED TO BE <img src="">-->
      <a href="https://en.wikipedia.org/wiki/Boracay" target="_blank"><img src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg" width="300" height="225" alt="Photo of White Beach in Boracay, Philippines" style="border:1px solid black;" /></a>
      <h3>Dog 1</h3>
      <p>Ipsum Lorem Jumbo Hakdog</p>
    </div>
    <div class="dogs-col">
      <a href="https://en.wikipedia.org/wiki/Boracay" target="_blank"><img src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg" width="300" height="225" alt="Photo of White Beach in Boracay, Philippines" style="border:1px solid black;" /></a>
      <h3>Dog 2</h3>
      <p>Ipsum Lorem Jumbo Hakdog</p>
    </div>
    <div class="dogs-col">
      <a href="https://en.wikipedia.org/wiki/Boracay" target="_blank"><img src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg" width="300" height="225" alt="Photo of White Beach in Boracay, Philippines" style="border:1px solid black;" /></a>
      <h3>Dog 3</h3>
      <p>Ipsum Lorem Jumbo Hakdog</p>
    </div>
    <div class="dogs-col">
      <a href="https://en.wikipedia.org/wiki/Boracay" target="_blank"><img src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg" width="300" height="225" alt="Photo of White Beach in Boracay, Philippines" style="border:1px solid black;" /></a>
      <h3>Dog 4</h3>
      <p>Ipsum Lorem Jumbo Hakdog</p>
    </div>
    <div class="dogs-col">
      <a href="https://en.wikipedia.org/wiki/Boracay" target="_blank"><img src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg" width="300" height="225" alt="Photo of White Beach in Boracay, Philippines" style="border:1px solid black;" /></a>
      <h3>Dog 4</h3>
      <p>Ipsum Lorem Jumbo Hakdog</p>
    </div>
    <div class="dogs-col">
      <a href="https://en.wikipedia.org/wiki/Boracay" target="_blank"><img src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg" width="300" height="225" alt="Photo of White Beach in Boracay, Philippines" style="border:1px solid black;" /></a>
      <h3>Dog 4</h3>
      <p>Ipsum Lorem Jumbo Hakdog yes</p>
    </div> 
    
  </div>
</section>
<!--  <section class="destination" id="destination">
  
    div class *ngFor let gd of getDogs
    img src = {{gd.images}}
    h2 = {{gd.name}}
-->
  </body>