<div
  class="flex justify-between items-center px-5 sticky z-40 top-0 border border-b-2 bg-white h-20"
>
  <a
    class="text-2xl font-semibold text-cyan-700 cursor-pointer"
    href="/homepage"
    ><mat-icon class="mr-3">pets</mat-icon>Save-a-friend</a
  > 
  <div class="flex justify-center items-center gap-4">
    <a
      routerLink="/homepage"
      class="text-cyan-700 text-sm mr-5 font-semibold hover:text-cyan-600"
      >Home</a
    >
    <a
      routerLink="/aboutus"
      class="text-cyan-700 text-sm mr-5 font-semibold hover:text-cyan-600 border-r pr-10"
      >About Us</a
    >
    <a
      routerLink="/adoptionpage"
      class="text-sm mr-5 font-semibold bg-cyan-900 text-white border-white underline-offset-2 hover:bg-white hover:text-cyan-900 py-3 px-6 border hover:border-gray-700 rounded-full"
      >Save a friend!</a
    >
  </div>
</div>
