<mat-toolbar
  class="flex justify-between sticky z-100 top-0"
  style="background-color: #108979"
>
  <a class="text-2xl font-semibold text-white cursor-pointer" href="/homepage"
    ><mat-icon>pets</mat-icon> Pet Adoption</a
  >
  <div class="spananchor">
    <span
      ><a
        routerLink="/homepage"
        class="text-white text-sm mr-5 hover:text-gray-200 hover:underline underline-offset-2"
        >Home</a
      ></span
    >
    <span
      ><a
        routerLink="/adoptionpage"
        class="text-white text-sm mr-5 hover:text-gray-200 hover:underline underline-offset-2"
        >Adopt Here</a
      ></span
    >
    <span
      ><a
        routerLink="/adoptionform"
        class="text-white text-sm mr-5 hover:text-gray-200 hover:underline underline-offset-2"
        >Adoption Form</a
      ></span
    >
    <span
      ><a
        routerLink="/aboutus"
        class="text-white text-sm mr-5 hover:text-gray-200 hover:underline underline-offset-2"
        >About Us</a
      ></span
    >
  </div>
</mat-toolbar>
