<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<section class="request">
    <h1>Adoption Request</h1>
    <div class="row">
        <div class="request-col">
            <h3> 1st Request</h3>
            <p>  Request Info Request Info Request Info Request Info Request Info Request Info</p>
            <a href="">Confirm</a>
        </div>
        <div class="request-col">
            <h3> 2nd Request</h3>
            <p>  Request Info Request Info Request Info Request Info Request Info Request Info</p>
            <a href="">Confirm</a>
        </div>
        <div class="request-col">
            <h3> 3rd Request</h3>
            <p>  Request Info Request Info Request Info Request Info Request Info Request Info</p>
            <a href="">Confirm</a>
        </div>
        <div class="request-col">
            <h3> 4th Request</h3>
            <p>  Request Info Request Info Request Info Request Info Request Info Request Info</p>
            <a href="">Confirm</a>
        </div>
        <div class="request-col">
            <h3> 5th Request</h3>
            <p>  Request Info Request Info Request Info Request Info Request Info Request Info</p>
            <a href="">Confirm</a>
        </div>
        <div class="request-col">
            <h3> 6th Request</h3>
            <p>  Request Info Request Info Request Info Request Info Request Info Request Info</p>
            <a href="">Confirm</a>
        </div>
        <div class="request-col">
            <h3> 7th Request</h3>
            <p>  Request Info Request Info Request Info Request Info Request Info Request Info</p>
            <a href="">Confirm</a>
        </div>
        <div class="request-col">
            <h3> 8th Request</h3>
            <p>  Request Info Request Info Request Info Request Info Request Info Request Info</p>
            <a href="">Confirm</a>
        </div>

    </div>
</section>

</body>