<navbar></navbar>
<section class="bg">
  <div class="aboutsection">
    <div class="box">
      <h1>About Us</h1>
      <p class="text">
        The pets we love must be treated with care and love that's why
        Save-a-friend is keeping pets for people to adopt which the animals can
        live a happy life
      </p>
    </div>
  </div>
</section>
<section id="ab">
  <div class="row">
    <div class="col">
      <mat-icon> local_library</mat-icon>
      <h3>Mission</h3>
      <p>
        Our mission is to ensure healthy pets through education, advocacy and
        affordable services, and inspire a community where the animal-human bond
        is celebrated and nurtured.
      </p>
    </div>
    <div class="col">
      <mat-icon>remove_red_eye</mat-icon>
      <h3>Vision</h3>
      <p>
        Our vision is to prevent the suffering of animals and to help them be in
        a safe place to live a free live.
      </p>
    </div>
    <div class="col">
      <mat-icon>check</mat-icon>
      <h3>Achievement</h3>
      <p>
        We rescued and cared for many animals every year through our animal
        rescue team's work and animal care services.
      </p>
    </div>
  </div>
</section> 
<footer></footer>
