.navbar{
    justify-content:space-between;
    background-color:#92B4EC;
    color:#EDEAE5;
}

.spananchor a{
    text-decoration: none;
    color: #EDEAE5;
}

footer{
    background-color: gray;
    height:200px;
}

span {  
    padding-right: 1rem;
}
