*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.box 
{
	position: relative;
	width: 380px;
	height: 420px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
	opacity: 95%;
}


form 
{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color: #FEF9C7;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.input 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.input input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.input span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.input input:valid ~ span,
.input input:focus ~ span 
{
	color: #FEF9C7;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.input i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #FEF9C7;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.input input:valid ~ i,
.input input:focus ~ i 
{
	height: 44px;

	color: #FEF9C7;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #FEF9C7;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}