<body>
  <mat-toolbar class="navbar">
    <div>Pet Adoption</div>
      <div class="spananchor">
        <span><a routerLink="/homepage">Home</a></span>
        <span><a routerLink="/adoptionpage">Adopt Here</a></span>
        <span><a routerLink="/adoptionform">Adoption Form</a></span>
        <span><a routerLink="/aboutus">About Us</a></span>
      </div>
  </mat-toolbar>
  <div class="homeImage">
      <div class="adoptAtHome">
        <div class="adoptAtHomePanel">
          <h1>Finding a new home</h1>
          <p>Our shelter has amassed a total of 100 animals of different kinds and are in need of loving parents. These animals
              have experience pain, hardships, and emotional stress. They deserve all the love and care that they need. That is what
              our shelter is trying to find and provide for them. The rightful place with the rightful owners.
          </p>
          <h2><a routerLink="/adoptionform">DOWNLOAD THE ADOPTION FORM HERE</a></h2>
        </div>
      </div>
  </div>
  <div class="bottomMessage">
    <h1>Adopting from our shelter</h1>
    <p>Our adoption center follows a strict protocol for finding new parents for our animals. The animals inside our shelter has been through a lot and we do not want
      them to experience it again. With this, we are trying to find the rightful owners of the animals in order for them to be provided with the best care possible so 
      that they can be feel loved once again and live a happy life. 
    </p>
  </div>
</body>
<footer>
    
</footer>