<body>
  <mat-toolbar class="navbar">
    <div>Pet Adoption</div>
      <div>
        <span><a routerLink="/homepage">Home</a></span>
        <span><a routerLink="/adoptionpage">Adopt Here</a></span>
        <span><a routerLink="/adoptionform">Adoption Form</a></span>
        <span><a routerLink="/aboutus">About Us</a></span>
      </div>
  </mat-toolbar>
  <div class="homeImage">
      
  </div>
  <div class="bottomMessage">
    <h1>How to adopt from our shelter</h1>
    <p>Our adoption center follows a strict protocol for finding new parents for our animals. The animals inside our shelter has been through a lot and we do not want
      them to experience it again. 
    </p>
  </div>
</body>