body{
    background-image:url(https://us.123rf.com/450wm/cnuisin/cnuisin1901/cnuisin190100045/117828548-dog-paw-seamless-pattern-vector-heart-isolated-scarf-valentine-wallpaper-repeat-background.jpg?ver=6);
    background-color:gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.adoptAtHome{
    position: absolute;
    text-align: justify;
    right:0px;
    margin-top: 150px;
    width: 700px;
    height: 300px;
}

.adoptAtHomePanel{
    background-color: white;
    opacity: 90%;
    padding: 50px;
}

.adoptAtHomePanel a{
    text-decoration: none;
    color: #FFD24C;
}

.adoptAtHomePanel h1{
    font-size: 300%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #92B4EC;
}

.adoptAtHomePanel h2{
    font-size: 150%;
    color:#92B4EC;
}

.adoptAtHomePanel p{
    font-size: 130%;
}

.bottomMessage{
    background-color: #EDEAE5;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 3px 7px 10px gray;
    padding: 20px;
}
.bottomMessage h1{
    font-size: 250%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #92B4EC;
}

.bottomMessage p{
    text-align: justify;
    font-size: 120%;
    padding-top:5px;
    padding-left: 20px;
    padding-right: 20px;
}

.homeImage{
    background-image: url(https://media.4-paws.org/3/9/3/1/3931c3a89c44aa0c5a73a7e7fa1c07f1a0bc76a6/VIER%20PFOTEN_2016-09-18_081-2000x666-1920x639.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(228, 228, 228, 0.932);
    height:600px;
    box-shadow: 0px 10px 10px gray;
}

.homeImageMessage{
    position:right;
}
.navbar{
    justify-content:space-between;
    background-color:#92B4EC;
    color:#EDEAE5;
}

.spananchor a{
    text-decoration: none;
    color: #EDEAE5;
}

footer{
    background-color: gray;
    height:200px;
}

span {  
    padding-right: 1rem;
}
