<navbar></navbar>
<div class=" ">
  <div class=" ">
    <div class="  rounded-l-xl">
      <h1>Finding a new home</h1>
      <p class="">
        Our shelter has amassed a total of 100 animals of different kinds and
        are in need of loving parents. These animals have experience pain,
        hardships, and emotional stress. They deserve all the love and care that
        they need. That is what our shelter is trying to find and provide for
        them. The rightful place with the rightful owners.
      </p>
      <h2>
        <a
          routerLink="/adoptionform"
          class="px-5 py-1 w-full rounded-lg border-2"
          >FILL UP THE ADOPTION FORM HERE</a
        >
      </h2>
    </div>
  </div>
</div>
<div class=" ">
  <h1>Adopting from our shelter</h1>
  <p>
    Our adoption center follows a strict protocol for finding new parents for
    our animals. The animals inside our shelter has been through a lot and we do
    not want them to experience it again. With this, we are trying to find the
    rightful owners of the animals in order for them to be provided with the
    best care possible so that they can be feel loved once again and live a
    happy life.
  </p>
</div>

<footer></footer>
