<navbar></navbar>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1440 320"
  class="absolute z-0"
>
  <path
    fill="#f3f4f5"
    fill-opacity="1"
    d="M0,160L60,138.7C120,117,240,75,360,69.3C480,64,600,96,720,128C840,160,960,192,1080,213.3C1200,235,1320,245,1380,250.7L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
  ></path>
</svg>
<div
  class="h-fit w-full px-20 pt-10 z-10 bg-contain bg-bottom"
  style="background-image: url(assets/dog_info_bg.png)"
>
  <form [formGroup]="adoptionForm" (ngSubmit)="onSubmit()">
    <div class="text-4xl text-cyan-900 text-center font-bold mb-5 drop-shadow-sm">
    Adoption Form
    </div>
    <div class="rounded-lg drop-shadow-lg border-gray-300 bg-white h-fit pb-8">
    <div
      class="w-full bg-cyan-600 text-white rounded-t-lg h-10 flex justify-center items-center font-semibold text-2xl"
    >
      NAME
    </div>
    <div class="px-5 py-2">
      <div class="flex justify-between items-center gap-4 mt-2">
        <span class="h-8 w-1/4">First Name</span>
        <span class="h-8 w-1/4">Middle Name</span>
        <span class="h-8 w-1/4">Last Name</span>
        <span class="h-8 w-1/4">Suffix</span>
      </div>
      <div class="flex justify-between items-center gap-4">
        <input
          type="text"
          id="FName"
          name="FName"
          formControlName="first_name"
          class="h-8 border-gray-400 w-1/4 border bg-white rounded-lg"
        />

        <input
          type="text"
          id="MName"
          name="MName"
          formControlName="middle_name"
          class="h-8 border-gray-400 w-1/4 border bg-white rounded-lg"
        />

        <input
          type="text"
          id="LName"
          name="LName"
          formControlName="last_name"
          class="h-8 border-gray-400 w-1/4 border bg-white rounded-lg"
        />

        <input
          type="text"
          id="Suffx"
          name="Suffx"
          formControlName="suffix"
          class="h-8 border-gray-400 w-1/4 border bg-white rounded-lg"
        />
      </div>
    </div>
    <div
      class="w-full mt-6 bg-cyan-600 text-white h-10 flex justify-center items-center font-semibold text-2xl"
    >
      CONTACT DETAILS
    </div>
    <div class="px-5 py-2">
      <div class="flex justify-between items-center gap-4 mt-2">
        <span class="h-8 w-1/4">Contact Number</span>
        <span class="h-8 w-1/4">Email</span>
        <span class="h-8 w-2/4">Address</span>
      </div>
      <div class="flex justify-between items-center gap-4">
        <input
          type="text"
          id=" "
          name=" "
          formControlName="contact_number"
          class="h-8 border-gray-400 w-1/4 border bg-white rounded-lg px-2"
        />
        <input
          type="email"
          id=" "
          name=" "
          formControlName="email"
          class="h-8 border-gray-400 w-1/4 border bg-white rounded-lg px-2"
        />

        <input
          type="text"
          id=" "
          name=" "
          formControlName="address"
          class="h-8 border-gray-400 w-2/4 border bg-white rounded-lg px-2"
        />
      </div>
    </div>
    <div
      class="w-full mt-6 bg-cyan-600 text-white h-10 flex justify-center items-center font-semibold text-2xl"
    >
      ADOPTION DETAILS
    </div>
    <div class="px-5 py-2">
      <div class="flex justify-between items-center gap-4 mt-2">
        <span class="h-8 w-1/3">Pet to adopt</span>
        <span class="h-8 w-2/3">Why do you want to adopt him/her?</span>
      </div>
      <div class="flex justify-between items-start gap-4">
        <select
          type="dropdown"
          id=" "
          name=" "
          formControlName="selected_pet"
          class="h-8 border-gray-400 w-1/3 border bg-white rounded-lg px-2"
        >
          <option *ngFor="let dog of dogs" [value]="dog.id">{{dog.name}} ({{ dog.gender }} | {{ dog.size }} | {{ dog.age }} years old)</option>
        </select>

        <textarea
          id=" "
          name=" "
          rows="4"
          cols="71"
          class="border-gray-400 w-2/3 border bg-white rounded-lg p-1"
          formControlName="adoption_reason"
        ></textarea>
      </div>
      <div class="text-end mt-10">
        <button
          type="submit"
          class="bg-green-600 hover:bg-green-900 text-white px-6 py-2 rounded-full font-semibold text-lg"
        >
          Submit
        </button>
      </div>
    </div>
    </div>
    <div class="">
    <div class="text-3xl font-bold text-cyan-900 mt-16">What's next?</div>
    <div class="text-xl text-cyan-900 mt-4">
      After submitting an adoption for, please wait 2-3 working days for us to
      process your application. Know that you must be able to pick up your
      potential pet within our office.

      <br /><br /> 
      <span class="font-semibold">Address: </span> 1191 Pablo Ocampo Sr. Ext,
      Makati, Metro Manila
      <br />
      <span class="font-semibold">Phone: </span> (02) 8891 0837
    </div>
    </div>
  </form>
</div>

<footer></footer>

<!-- W H I T E B O A R D -->
<!--
	  https://docs.google.com/document/d/1Mwgx_IzM4PdS9NgdaPU4W8dqEeCryPB7KHG69Fegb00/edit
	  
	-->
