.navbar{
    justify-content:space-between;
    background-color:#92B4EC;
    color:#EDEAE5;
}

.spananchor a{
    text-decoration: none;
    color: #EDEAE5;
}

footer{
    background-color: gray;
    height:200px;
}

span {  
    padding-right: 1rem;
}

.adoptForm{
    padding: 40px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.blackHeader{
    background-color: black;

    text-align: left;
    padding: 5px;

    color: #EDEAE5;
    font-size: 140%;
}

input{
    padding: 7px;
}

th.userInput{
    font-size: 120%;
}

textarea{
    padding: 6.8px;

    font-size: 120%;
}

.label{
    padding: 5px;
    font-size: 130%;
}

label{
    padding: 7px;
    font-size: 130%;
}
